@import url(http://fonts.googleapis.com/css?family=Exo+2);
/* TOPO DO MENU */
.top-bar {
	background: #0a67a3;
	height: 50px;
	margin-top: 0px;
}

.top-bar a {
	color: white;
	text-decoration: none;
	font-size: 14px;
}

/* MENU */
.logo img{   
    height: 3rem;
}

.navbar1 {
	background-color: #f8f9fb;
	font-size: 14px;
	letter-spacing: .1rem;
	box-shadow: 0 .5rem .5rem rgba(0, 0, 0, .1);
	z-index: 1;
	border: none;
	border-radius: none;
	padding: 8px;
	font-family: 'Exo 2', sans-serif;
    font-weight: 550;
	margin-bottom: 0px;
}

ul li{
	padding-right:8px;	
	padding-top: 3px;
}

.navbar1 a {
	color: #ff8e00 !important;
}

.navbar1 a:hover {
	color: #0a67a3 !important;
}

a.navbar-brand{
	margin-bottom: 5px;
}

.icon-bar{
	background-color: #ff8e00
	!important;	
}

.navbar-inverse .navbar-toggle {
	background-color: none;
    border-color: #ff8e00;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: #0a67a3;  
}

.navbar-inverse .navbar-nav>.active>a{ 
	background-color: #dfe0e4;
	border-radius: 10px;
}

.navbar-inverse .navbar-nav>.active>a:hover{ 
	background-color: #dfe0e4;
	border-radius: 10px;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
	background-color: #dfe0e4;
	border-radius: 10px;
}

.navbar-nav>li>.dropdown-menu{
	background-color: #f8f9fb;
}

/*TÍTULO*/
.border-primary{
	border-top: .2rem solid #0a67a3 !important;
	margin-bottom: 30px;
}

.titulo {
	background-color: #ff8e00;
}

h1.text.dark.pt-4{
	color: #0a67a3;
	font-size: 45px;
	font-family: 'Exo 2', sans-serif;
	text-shadow: 1px 1px 1px #000000;
}


/*FORMULÁRIO*/
form{
    width:400px;
    margin:auto;
}

.card-top{     
    text-align: center;
	margin-bottom: 10px;
}


.card{         
    border-radius: 10px;
	padding:30px;
	background-color:white;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	margin-top: 29px;
	margin-bottom: 80px;
}

form label{             
    color:#0a67a3;
    font-family:'Exo 2', sans-serif;
    font-size: 25px;
	text-align: right;
	text-shadow: 1px 2px 1px rgba(2, 1, 1, 0.5);
}

form input{                    
    font-family: 'Exo 2', sans-serif;
    background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
    border-radius: 10px;
}

textarea {                      
    font-family: 'Exo 2', sans-serif;
	background-color: #eee;    
	border: none;
	padding: 12px 15px;     
	width: 100%;
    padding-bottom: 7px;
    border-radius: 10px;
}

.perfil{
    border-radius:50px;
}

/*BOTÃO*/
.form .botao {
	border-radius: 20px;
	border: 1px solid #0a507f;
	background-color: #0a507f;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	font-family: 'Exo 2', sans-serif;
	padding: 12px 45px;
	text-transform: uppercase;
    box-shadow: 1px 1px 1px #000000;
	text-shadow:   1px 1px 3px #000000;
	width:100%;
}

.form .botao:hover{
    background-color:  #052a42;
    color:white;
	font-family:'Exo 2', sans-serif;
	border-color: transparent;
}	

.form .botao:active {
	transform: scale(0.95);
	background-color: #052a42;
	color:#fff;
	
}
.form .botao:focus {
	outline: none;
}
.form .botao.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}
/* RODAPÉ */
footer{    
	background-color: #3a3f45;
	margin-top: 150px;
	font-size: 16px;
	color: #ffffff;
	font-family: 'Exo 2', sans-serif;
	
}
h2{
	text-shadow: 2px 3px 1px rgba(2, 1, 1, 0.6);
} 
.nomes{
	list-style-type: none;
}
.nomes li{
	color: #c6cbd1;
}
.email{
	list-style-type: none;
}
.email li{
    color: #c6cbd1;
}
.midia img{
	height: 37px;
	width:  37px;
    margin-top: 5px;
    text-align: left; 	
}
.informacao{
	list-style-type: none;
}
.informacao li{
	color: #c6cbd1;
}
.registrado{
	text-align: center;
}
.imagem:hover .texto{
  opacity:1;
}
.final {
	background-color: #33383e;
	padding-top: 10px;
	padding-bottom: 5px;
	margin-top: 25px;
}
    