@import url(http://fonts.googleapis.com/css?family=Exo+2);
/* TOPO DO MENU */
.top-bar {
	background: #0a67a3;
	height: 50px;
	margin-top: 0px;
}

.top-bar a {
	color: white;
	text-decoration: none;
	font-size: 14px;
}

/* MENU */
.logo img{   
    height: 3rem;
}

.navbar1 {
	background-color: #f8f9fb;
	font-size: 14px;
	letter-spacing: .1rem;
	box-shadow: 0 .5rem .5rem rgba(0, 0, 0, .1);
	z-index: 1;
	border: none;
	border-radius: none;
	padding: 8px;
	font-family: 'Exo 2', sans-serif;
    font-weight: 550;
	margin-bottom: 0px;
}

ul li{
	padding-right:8px;	
	padding-top: 3px;
}

.navbar1 a {
	color: #ff8e00 !important;
}

.navbar1 a:hover {
	color: #0a67a3 !important;
}

a.navbar-brand{
	margin-bottom: 5px;
}

.icon-bar{
	background-color: #ff8e00
	!important;	
}

.navbar-inverse .navbar-toggle {
	background-color: none;
    border-color: #ff8e00;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: #0a67a3;  
}

.navbar-inverse .navbar-nav>.active>a{ 
	background-color: #dfe0e4;
	border-radius: 10px;
}

.navbar-inverse .navbar-nav>.active>a:hover{ 
	background-color: #dfe0e4;
	border-radius: 10px;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
	background-color: #dfe0e4;
	border-radius: 10px;
}

.navbar-nav>li>.dropdown-menu{
	background-color: #f8f9fb;
}

/*BANNER*/
.banner{
	width: auto;
	min-height:100vh;
}

.carousel-caption h2{
	margin-bottom: 270px;
	text-transform: uppercase;
	font-family: 'Exo 2', sans-serif;
	font-weight: lighter;
}

/*TEXTOS*/
.textos h2{
    color: #0a67a3;
}

.jumbotron{
	background-color: transparent;
}

.espaco{
	background-color: #fff;
	padding:30px;
	color:#000;
	font-family: 'Exo 2' sans-serif;
}


.espaco{
	font-family:'Exo 2', sans-serif;
	display:flex;
	align-items:center;
	min-height:70vh;
	background:linear-gradient(400deg);
	/*grid-gap:0 20px;*/
	grid-template-rows:auto;
	grid-template-columns:repeat(auto-fill, minmax(260px,1fr));

	
	display:right;
	justify-content:center;
	position:relative;
	width:100%;
	margin:auto;
	grid-gap: 0 20px;
}

.espaco .textos h2{
	color:#0A67A3;
	font-family: 'Exo 2', sans-serif;
	margin-left:5px;
	margin-right:20px;
	text-shadow: 1px 2px 1px #000000;
	font-weight: bolder;
}

.espaco .textos p{
	color:#000;
	text-align: relative;
	font-family: 'Exo 2', sans-serif;
	font-size: 24px;
	margin-left:5px;
	margin-right:20px;
	max-width: 90%;
}

.espaco:after{
    content:'';
    position:absolute;
    top:0;
    left:0;
	width:50%;
	min-height: 100%;
	background: no-repeat;
    background:rgba(0,0,0,0.2);
}

.linha {
	color: #fff;
	background-color: #fff;
	height: 10px;
	margin-top: 0px;
}


/*CAIXINHAS*/
.caixinhas{
	margin-top: 40px;
	margin-bottom: 60px;
}

.caixinha{
	box-shadow: 1px 1px 2px #000;
	border-radius:10px;
	background-color: #ff8e00;
	border-color: #ff8e00;
	height:220px;
	width:250px;
	font-family: 'Exo 2', sans-serif;
	padding: 7px;
	padding-left: -10px;

	margin-left:50px;
	margin-right:50px;

}

@media (max-width:500px){
	.caixinha{
		width:100%;
		margin-left:0;
		margin-right:0;
		height:180px;
	}
}

.caixinha span{
	color:#ffffff;
	font-size:22px;
	margin-top: 5px;
	text-shadow: 1px 1px 1px #000000;
}

.caixinha h4{
	color:#ffffff;
	font-size: 22px;
	text-align:center;
	font-weight: bold;
	text-shadow: 1px 1px 1px #000000;
}

.caixinha p{
	color:#fff;
	font-size: 18px;
	margin:auto;
	width:95%;
	text-align:center;
}

/*FOTOS*/
.jumbotron{
	margin-bottom: -40px;
	margin-top: -67px;
}

.jumbotron h1{
	font-size: 50px;
	font-family: 'Exo 2', sans-serif;
	text-align: center;
	color:#0A67A3;
	text-shadow: 1px 4px 1px #000000; 
	font-weight: bolder;
	margin-bottom: 30px;
}

.conteudo h1 {
	font-size: 20px;
	font-family: 'Exo 2', sans-serif;
	text-shadow: 0px 1px 1px #000000;
	text-align: center;
}
.conteudo img{
	 box-shadow: 1px 4px 4px rgba(0,0,0,0.25);
	 border-radius: 10px;
}
.conteudo p{
	font-family: 'Exo 2', sans-serif;
    font-size: 15px;
	margin-bottom: 3px;
	
}

/* RODAPÉ */
footer{    
	background-color: #3a3f45;
	margin-top: 90px;
	font-size: 16px;
	color: #ffffff;
	font-family: 'Exo 2', sans-serif;
}
h2{
	text-shadow: 2px 3px 1px rgba(2, 1, 1, 0.6);
} 
.nomes{
	list-style-type: none;
}
.nomes li{
	color: #c6cbd1;
}
.email{
	list-style-type: none;
}
.email li{
    color: #c6cbd1;
}
.midia img{
	height: 37px;
	width:  37px;
    margin-top: 5px;
    text-align: left; 	
}
.informacao{
	list-style-type: none;
}
.informacao li{
	color: #c6cbd1;
}
.registrado{
	text-align: center;
}
.imagem:hover .texto{
  opacity:1;
}
.final {
	background-color: #33383e;
	padding-top: 10px;
	padding-bottom: 5px;
	margin-top: 25px;
}
    